html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p{
    font-weight:300 ;
}
h1{
   font-weight: 300;
}
h2{
    font-weight: 500;
}
body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
}

.rangebox{
    display: none;
}

.desktopNav{
    display: none;
}

.name{
    padding: 40 5 30;
}

.header{
    padding-top:20px;
}

.icon{
    display: inline-block;
    padding: 10;
    font-size:1em;
    border: 1px solid white;
    border-radius:50%;  
}

.mobile-menu{
    float: right;
 }

 .line{
    padding: 0.2 20 25;
}
.lineP{
    width: 90vw;
    height: 1px;
    background-color: white;
}