/* color references

pink: f54291
teal: 4cd3c2
dark grey: 1a1a1a
*/

/*standard styling for whole page*/
html{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

p{
    font-weight:300 ;
    color: white;
}
h1{
   font-weight: 300;
   color: #4cd3c2;
   text-align: center;
}
h2{
    font-weight: 500;
}
em{
    font-size: 1em;
    color: #4cd3c2;
}

ul{
    color: white;
}

a{
    color: white;
}

a:hover{
    color: #f54291;
}

.active{
    color: #4cd3c2;
}

.hide-on-mobile{
    display: none;
}

.show-on-mobile {
    display: block;
}
.mobile-menu{
    float: right;
}
body{
    background-color: black;
    margin: 0;
}
.dark-grey{
    background-color: #1a1a1a;
    margin-bottom: 50px;
}

.name h1{
    color: #f54291;
    text-align: center;
}
/*styling for the navbar*/
.icon{
    display: inline-block;
    padding: 10;
    font-size:1em;
    border: 1px solid white;
    border-radius:50%;  
    color: white;
}

.about{
    padding: 20px;
}

.grad{
    padding: 20px;
}
#nav{
     font-size: 2em;
     color: white;
}

.desktop-menu{
    display: none;
}



.close{
    display: none;
    color: white;
    font-size: 1em;
    border: 1px solid white ;
    border-radius:50%; 
    padding: 10;
}

.line{
    background-color: white;
    height: 1px;
    margin: 30px 0 30px 0;
}

.taglineHi{
    text-align: center;
    color: white ;
    font-size: 120px;
    font-weight: 200;
    display: inline-block;
}

.scrollies{
    font-size: 120px;
    color:rgb(116, 133, 150) ;
}

.ptagp{
    color: #4cd3c2;
}

#ptag{
    color: grey;
}

.tag h1{
     text-align: center;
     font-size: 1.2em;
}

.AbtHead{
    text-align: center;
    margin-bottom: 30px;
}
.Pic{
    width:80%;
    border: 2px solid white;
    margin: 40px;
    box-shadow: -20px -20px grey;
}
button{
    color: white;
    background-color: #f54291;
    padding: 10px 20px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
}

form button{
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 60px;
}

.Adahead{
    text-align: center;
    margin-bottom: 30px;
}

.AdaLogo{
    margin-bottom: 30px;
    width: 90%;
}

.btnJourney{
    background-color: #f54291;
    margin-bottom: 20px;
}
.btnCV{
    background-color: #4cd3c2;
}

.ForTest{
    text-align: justify;
}

.divJoin{
    margin-bottom: 0;
}
.TestHead{
    margin-bottom: 30px;
}

.TestDiv{
    display: inline;
}
.contact{
    font-size: 1.5em;
    text-align: center;
    width: 35%;
    background-color: #f54291;
    font-size: 1em;
}

.by{
    float: right;
}

.test{
    margin: 0!important;
}

.TestimonialsPic{
    width: 110px;
    margin-bottom: 5px; 
}

.iconT{
    color: white;
    font-size: 1em;
}

.get{
   margin-top: 50px; 
}

footer .copy{
    text-align: center;
    font-size: 0.8em;
}

input{
    background-color: grey;
    font-size: 1em;
    width: 300px;
}

textarea{
    background-color: grey;
    font-size: 1em;
    width: 300px;
}
::placeholder{
    color: white;
    font-size: 0.5em;
}


 








/* styling for the resume page */
#DivPink strong{
    color: #f54291;
}

#DivBlue strong{
    color: #4cd3c2;
}








/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
}


/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
    .biggermenu{
        display: block;
    } 
}


/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}



/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) { 
    .show-on-desktop{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }

    .dark-grey{
        margin: 50px;
    }

    .taglineHi{
        font-size: 160px;
    }

    .scrollies{
        font-size: 160px;
    }

    .tag{
        font-size: 1.5em;
    }

    .aboutPic{
        padding: 60px 20px 10px 150px;
    }

    .adaPic{
        padding: 60px 20px 10px 180px;
    }

    .Pic{
        width:60%;
    }
    .AdaLogo{
        margin-bottom: 30px;
        width: 70%;
    }

        
    .about{
        padding: 50px;
    }

    .grad{
        padding: 50px;
    }
    .divJoin{
        margin-bottom: 0;
    }

    .get{
        margin-top: 50px; 
     }
     .TestDiv{
         padding: 150px;
     }
     
     .testimon{
         padding: 20px 0 10px 0;
     }

     #nav{
         display: none;
    }

    
    input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
    .forForm{

        text-align: center;
    }
  
    .desktop-menu{
        display: block;
    }
}




/*  --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
